/* 
    Selector universal es un asterisco (*) y selecciona a todos los elementos.
*/

/* 
    * {
        color: red;
    } 
*/

/* 
    * {
        box-sizing: border-box;
        margin: 0; //No es recomendable
    } 
*/

/* 
    Selectores hermanos (dos tipos):
        1. Hermano siguiente (singular) a + b
            B esta justo después de A. Se selecciona B.
        2. Hermanos siguientes (plural) a ~ b
            B(o varios B) están después de A, no importa si entre ellos hay otros elementos. Se selecciona a todos los B. 

        (~) alt + 126
    
    En CSS no se puede seleccionar hermanos hacia atras y tampoco padres
*/

h1 + p {
    color: red;
    font-size: 10px;
}

div + p {
    color: rgb(8, 6, 17);
}

h1 ~ p {
    background: black;
    color: cyan;
    font-style: italic;
} 

div + p + p {
    color: aqua;
    background: blueviolet;
}/* Selecciona al parrafo que sea hermano de otro parrafo y este a la vez sea hermano de un div */

h2 + div p {
    background: rgb(140, 13, 145);
    color: white;
    font-style: italic;
}
